/*
 * Styles from form call me
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */
#call-window
	.modal-dialog
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 670px
		margin: 0 auto

		.modal-content
			box-shadow: none
			border-radius: 0

			.modal-header
				border: none
				padding: 41px 0 37px

				h4
					font-size: 36px
					text-align: center

			.form
				background: #fff
				padding: 0
				position: static

				.sucsess-msg
					background: #fff
					opacity: 1
					color: #414141

					.close
						@include closeBtn
						@include size(112px)
						top: 20px
						right: 20px

					.container
						min-width: 100%

						p
							color: #414141
