/*
 * Styles from footer
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

footer
	$h: 264px

	box-sizing: border-box
	margin: -$h auto 0
	height: $h
	padding: 37px 0 0
	background: #2c2c2e
	font-size: 21px
	color: #fff

	.container
		nav ul li
			list-style: none
			margin: 0 0 8px
			line-height: 1

			a
				font-size: 26px
				white-space: nowrap
				color: #00a8f6
				@include transition(color)

				&:hover
					color: #FFF

		.contacts
			font-size: 24px
			line-height: 1.1

			p
				margin: 0 0 23px
				font-weight: 800

		.dev
			text-align: right

			a
				font-size: 17px
				text-transform: uppercase
				color: #fff
				@include bg('wi.png', no-repeat right center)
				padding-right: 25px
