/*
 * Styles from forms
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.form
	position: relative
	@include linearGradient(#f4f6f7, #d5d5d5)

	h3
		padding: 35px 0 25px
		text-align: center
		text-transform: none

	form
		.input-group
			margin: 0 auto 21px
			border: 3px solid #4e4e4e
			width: 563px
			font-size: 24px

			input
				border: none
				width: 100%
				background: none
				outline: none

			.input-group-addon
				border: none
				padding: 0 11px
				background: none
				font-size: 24px

				label
					font-weight: normal
					color: #414141

			select
				@extend input
				display: block
				padding: 0 11px
				cursor: pointer
				appearance: none
				@include bg('select.png', no-repeat 98% 11px)

				&:focus
					background-position: 98% -26px

				&::-ms-expand
					display: none

			textarea
				@extend input
				height: 100px
				padding: 0 11px
				resize: none
				@include placeholder
					opacity: 1
					color: #414141
		.error
			border-color: #fa9393

			label, select
				color: #fa9f9f !important

			textarea
				@include placeholder
					color: #fa9393

		.error-msg
			@extend .input-group
			visibility: hidden
			opacity: 0
			border: none
			color: #fa9393
			@include transition(opacity)

		.active
			border-color: #00a8f6

			select, label
				color: #a2a2a2 !important

			textarea
				@include placeholder
					color: #a2a2a2

		.input-submit
			padding: 34px 0
			@include linearGradient(#eaeaea, #e5e5e5)

			.btn
				display: block
				margin: 0 auto
				width: 189px
				height: 45px

	.sucsess-msg
		position: absolute
		z-index: 1
		top: 0
		left: 0
		display: none
		opacity: 0.95
		@include linearGradient(rgba(0, 149, 218, 1), rgba(0, 149, 218, 1))
		@include size(100%)
		font-size: 32px
		text-align: center

		.container
			position: relative
			top: 50%
			transform: translateY(-50%)

			.close
				@include size(65px)
				@include closeBtn
				position: relative
				float: none
				top: 40px

			h3
				padding: 0 0 36px !important
				font-size: 48px

			p
				margin: 0 auto
				width: 360px
				line-height: 1.1
				color: #ffffff

			a
				line-height: 43px
				margin-top: 40px

				&:hover
					background: #414141
