/*
 * Styles from header
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

header
	position: relative
	background: #fff

	.container
		display: flex
		align-items: center
		flex-wrap: nowrap
		height: 79px

		.column
			width: auto

			&:nth-child(1)
				width: 20%

			&:nth-child(2)
				width: 44%
				padding-right: 3%

			&:nth-child(3)
				width: 20.5%

			&:nth-child(4)
				width: 15.5%

			.logo
				@include bg('logo.png', no-repeat)
				display: block
				width: 58.4%
				height: 67px
				background-size: contain

				@media(max-width: $medium)
					width: 85%

				@media(max-width: $small)
					width: 90%

			.navbar
				margin: 0
				border: none
				min-height: auto
				background: none

				.nav
					display: flex
					width: 100%
					justify-content: space-between

					li
						a
							padding: 0
							font-size: 22px
							color: #0095da
							@include transition(color)


							&:hover
								color: #414141

							@media(max-width: $medium)
								font-size: 20px

							@media(max-width: $small)
								font-size: 18px

						.counts
							position: absolute
							bottom: 20px
							right: -40px
							display: none
							border-radius: 100%
							min-width: 39px
							height: 29px
							background: #414141
							font-family: pt_sans_narrow_b
							line-height: 33px
							text-align: center
							color: #fff

							&::after
								position: absolute
								bottom: -5px
								left: 6px
								transform: rotate(11deg)
								border: 9px solid transparent
								border-top: 0px solid transparent
								border-left: 9px solid #414141
								content: ""

					.active a
						background: none
						color: #000

			.input-group
				margin-top: 3px
				max-width: 254px

				.form-control
					box-shadow: none
					border: 2px solid #414141
					border-right: none
					height: 39px
					padding-left: 19px
					font-size: 18px
					@include placeholder
						color: #414141

				.input-group-addon
					border: 2px solid #414141
					border-left: none
					padding: 0
					background: none

					.icon-search
						border: none
						background: none
						@include bg('search-button.png', no-repeat)
						@include size(20px)
						margin-right: 14px
						padding: 0

			#ask-question
				float: right
				margin-top: 4px
				width: 93%
				max-width: 179px
				height: 39px
				font-size: 18px
