/*
 * Styles from modal window
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.modal-window
	position: fixed
	z-index: 2
	top: 50%
	left: 50%
	display: none
	transform: translate(-50%, -50%)
	box-shadow: 0px 0px 10px 0px rgba(0,149,218,0.3)
	width: 670px
	min-height: 260px
	background: #fff

	& > .close
		@include size(65px)
		@include closeBtn
		top: 17px
		right: 20px

	.text
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 508px

		h3
			font-size: 48px
			text-transform: none

		a
			opacity: 1
			font-size: 21px
			line-height: 1
			font-weight: normal
			text-shadow: none
			color: #0095da
