/*
 * Styles from pagination
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.pagination-site
	margin: 46px auto 35px
	padding: 0
	text-align: center

	ul
		padding: 0

		li
			display: inline-block
			font-family: pt_sans_narrow_b
			font-size: 18px
			color: #fff
			vertical-align: middle

			a
				display: block
				width: 34px
				height: 26px
				line-height: 30px
				text-align: center

			.active
				display: block
				border-radius: 100%
				width: 26px
				height: 28px
				background: #414141
				line-height: 32px
				text-align: center

			.prev, .next
				position: relative
				display: block
				width: 25px
				height: 42px
				@include bg('small-arrow.png', no-repeat 0 0)

				&:before
					position: absolute
					left: 0
					opacity: 0
					width: inherit
					height: inherit
					background: inherit
					content: ''
					@include transition(opacity)

				&:hover::before
					opacity: 1

			.prev:before
				background-position: -97px 0

			.next
				background-position: -47px 0

				&:before
					background-position: -144px 0
