/*
 * Styles AJAX search
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.title-search-result
	box-sizing: border-box
	padding-left: 22px
	background: #ffffff
	z-index: 2

	ul
		list-style: none
		padding: 0
