/*
 * Styles from seo text
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.seo-text
	margin: 0 auto 95px
	border-top: 2px solid #414141
	font-size: 21px

	h1
		margin: 51px 0 27px
		font-size: 36px
		text-transform: none

	.text
		cursor: pointer
		height: 135px
		overflow: hidden
		position: relative

		&::after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 80%
			@include linearGradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))

	.show
		height: 100%

		&::after
			display: none

		p
			margin: 0 0 30px
