/*
 * Styles from tooltip
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.tooltip-custom
	position: relative
	@include size(29px)
	margin-left: 10px

	.icon-tooltip
		border: none
		cursor: pointer
		vertical-align: middle
		@include size(29px)
		@include bg('icon.png', no-repeat)

	.toolpti-text
		position: absolute
		bottom: 164%
		left: 53%
		display: none
		border: 3px solid #515151
		border-radius: 6px 6px 6px 0px
		width: 248px
		padding: 9px 17px
		background: #fff
		font-family: pt_sans_narrow_b
		font-size: 18px
		line-height: 1

		&::after
			position: absolute
			bottom: -17px
			left: -3px
			border: 14px solid transparent
			border-top: 0px solid transparent
			border-left: 9px solid #515151
			content: ""

		&::before
			position: absolute
			z-index: 1
			bottom: -6px
			left: 0
			border: 6px solid transparent
			border-top: 0px solid transparent
			border-left: 5px solid #fff
			content: ""

	.sm-left
		@media(max-width: $min-container)
			left: -235px
			border-radius: 6px 6px 0px 6px

			&::before
				bottom: -6px
				left: auto
				right: 0px
				border-right: 5px solid #fff
				border-left: none

			&::after
				left: auto
				right: -3px
				border-right: 9px solid #515151
				border-left: none
