/*
 * Styles from page about
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.about
	margin: 0 0 105px
	font-family: pt_sans_r

	.title
		margin-bottom: 39px

	h3
		margin: 55px 0 32px
		font-family: pt_sans_narrow

	p
		margin: 0 0 20px
		line-height: 1.7

	img
		margin: 41px 0
		width: 100%

	hr
		margin: 24px 0 0
