/*
 * Styles from page application
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.application
	.application-table
		margin: 38px auto 21px
		max-width: 1067px

		table
			td
				padding: 12px

			thead
				border-bottom: 2px solid #414141
				font-size: 18px

			tbody
				td
					vertical-align: middle

					&:last-child
						padding-right: 0
						font-size: 30px
						white-space: nowrap

					&:nth-child(4)
						width: 150px

					.delete
						display: block
						width: 27px
						height: 28px
						@include bg('delete.png', no-repeat)
						background-position: -38px 0

						&:before
							position: absolute
							width: inherit
							height: inherit
							content: ''
							@include bg('delete.png', no-repeat)
							opacity: 0
							@include transition(opacity)

						&:hover:before
								opacity: 1

					.img
						border: 2px solid #f0f0f0
						display: flex
						justify-content: center
						align-items: center
						@include size(216px)

						span
							display: block
							font-size: 25px
							text-align: center
							margin: 0 auto
							text-transform: uppercase
							color: #ececec

					.name
						max-width: 355px
						font-size: 21px

					.count
						width: 75px
						padding: 0 11px
						font-size: 25px

					.add
						margin-left: 13px
						font-family: pt_sans_narrow_b
						font-size: 32px

				.total
					td
						font-size: 30px

						.tooltip-custom
							display: inline-block
							white-space: normal

	.empty
		font-size: 30px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
