/*
 * Styles from page contacts
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.contacts
	h2
		margin: 44px 0 16px

	ul
		padding: 0

		li
			display: inline-block
			margin: 0 0 42px
			padding-right: 80px
			font-family: pt_sans_narrow
			font-size: 32px

			&:last-child
				padding-right: 0

			p
				margin: 0
				font-family: pt_sans_narrow_b
				font-size: 24px
				line-height: 1.1

		.active
			cursor: default
			color: #414141

	.map
		display: none

	.active
		display: block
