/*
 * Styles from page not-found
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.not-found
	padding: 102px 0 0
	font-size: 30px

	.container
		max-width: 1350px

		h1
			margin: 0 0 48px
			font-size: 80px
			text-transform: none

		p
			margin: 0 0 6px

		ul
			margin: 0
			padding: 0

			li
				display: inline-block
				margin-right: 19px
