/*
 * Main file styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "./mixins"
@import "../app/components/bootstrap/dist/css/bootstrap"
@import "../app/components/font-awesome/css/font-awesome.css"

@include fontAdd('pt_sans_narrow', 'pt_sans-narrow-web-regular-webfont')
@include fontAdd('pt_sans_narrow_b', 'pt_sans-narrow-web-bold-webfont')
@include fontAdd('pt_sans_r', 'pt_sans-web-regular-webfont')

html
	width: 100%
	height: 100%

	.modal-open
		overflow: auto
		padding-right: 0 !important

	.modal-backdrop
		z-index: 900
		opacity: 0.95 !important
		@include linearGradient(rgba(0, 149, 218, 1), rgba(0, 149, 218, 1))

	body
		height: 100%
		font-family: pt_sans_narrow
		font-size: 18px
		color: #414141

		.preloader
			position: fixed
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			display: none

		.container
			margin: 0 auto
			width: 100%
			min-width: 980px
			max-width: 1495px

		.btn
			border: none
			width: 210px
			height: 43px
			padding: 0
			background: #414141
			font-size: 21px
			text-align: center
			text-transform: uppercase
			color: #FFF
			@include transition(background)

			&:hover, &:focus
				background: #00a3ef
				color: #fff

		.btn-inverse
			@extend .btn
			border-radius: 4px
			background: #00a3ef
			color: #fff

			&:hover
				background: #414141

		h1
			font-size: 50px
			font-weight: normal
			text-transform: uppercase

		h3
			font-size: 34px
			text-transform: uppercase

		h2
			font-family: pt_sans_narrow_b
			font-size: 46px

		b
			font-size: 21px
			line-height: 1.4
			font-weight: normal
			color: #2c2c2e

		hr
			height: 3px
			background: #4d4a48

		a
			color: #0095da
			@include transition(color)

			&:hover
				text-decoration: none
				color: #414141

			&:focus
				text-decoration: none

		input[type="text"]
			border: 3px solid #4e4e4e
			color: #414141

		@import "./modules/pagination"
		@import "./modules/tooltip"
		@import "./modules/forms"

		.wrapper
			min-width: 980px
			min-height: 100%
			height: auto !important
			height: 100%

			.content
				padding: 0 0 264px
				min-height: 100%

				.title
					$height: 79px

					position: relative
					box-sizing: border-box
					height: $height
					background: #414141

					&::after
						position: absolute
						bottom: -49px
						left: 50%
						transform: translateX(-50%)
						border: 25px solid transparent
						border-top: 25px solid #414141
						content: ""

					h1
						margin: 0
						font-size: 38px
						line-height: $height
						text-align: center
						color: #fff

					.breadcrumb
						padding: 0
						background: none
						line-height: 79px

						li
							text-transform: uppercase
							color: #fff
							vertical-align: middle
							line-height: 1

							& + li::before
								content: ""
								@include bg('breadcrumb.png', no-repeat 8px center)
								width: 11px
								height: 21px
								padding: 0 14px

							a
								font-size: 24px

								&:hover
									text-decoration: underline
									color: #0095da

						.active
							font-size: 38px

							&::before
								padding-right: 40px


			@import "./pages/main/index"
			@import "./pages/about"
			@import "./pages/contacts"
			@import "./pages/application"
			@import "./pages/catalog/index"
			@import "./pages/not-found"
			@import "./modules/seo_text"

		@import "./modules/header"
		@import "./modules/footer"
		@import "./modules/search-title-result"
		@import "./modules/modal-window"
		@import "./modules/call-me-form"
