/*
 * Styles from catalog detail page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.detail
	article
		.container
			max-width: 1550px

			h1
				margin: 44px 0 28px
				font-family: pt_sans_narrow_b
				text-transform: none

			.detail-table
				margin: 0 0 26px

				.col
					display: inline-block
					width: 54%
					vertical-align: top

					&:first-child
						width: 23%
					&:last-child
						margin-top: -26px
						width: 22%

					@media(max-width: $medium)
						width: 47%

						&:first-child
							width: 26%
						&:last-child
							width: 26%


					.img
						border: 2px solid #ececec
						@include size(95%)

						img
							display: block
							transform: translateY(-50%)
							margin: 50% auto 0

					h4
						margin: 0
						font-family: pt_sans_narrow_b
						text-transform: uppercase

					.price
						margin: 9px 0 4px
						font-family: pt_sans_narrow_b
						font-size: 50px

					.btn-inverse
						width: 221px
						height: 45px

					.charset
						ul
							margin: 0 0 37px
							padding: 0
							list-style: none
							max-width: 428px

							li
								margin: 23px 0 0
								font-family: pt_sans_narrow_b
								font-size: 18px

								&:first-child
									margin: 26px 0 0

								p
									display: inline-block
									margin: 0
									vertical-align: top
									margin-right: 9%
									width: 70%

								span
									display: inline-block
									vertical-align: top
									width: 20%

					.desc
						margin-right: 9%
						line-height: 1.7

						h4
							margin: 0 0 6px

					.contacts-block
						margin: 0 0 18px
						max-width: 333px
						padding: 0 8%
						@include bg('contact-block.jpg', no-repeat #eaeaea center 0)

						@media(max-width: $small)
							padding: 0 4%

						h4
							padding: 10% 0 0 2%
							font-size: 24px
							white-space: nowrap

							@media(max-width: $medium)
								font-size: 20px

						ul
							margin: 0
							padding: 45px 0 9px
							list-style: none

							li
								margin: 0 0 28px
								font-size: 24px
								line-height: 1.3

								@media(max-width: $small)
									font-size: 20px

								p
									margin: 0

								b
									font-family: pt_sans_narrow_b
									font-size: 26px

									@media(max-width: $small)
										font-size: 22px

					.links-block
						ul
							margin: 0
							padding: 0
							list-style: none

						li
							margin: 0 0 23px
							max-width: 241px

							&:first-child
								span
									@include bg('price.png', no-repeat)

							&:nth-child(2)
								span
									@include bg('desc.png', no-repeat)

							&:last-child
								span
									@include bg('certificate.png', no-repeat)
							a
								font-family: pt_sans_narrow_b
								font-size: 21px

								&:hover
									span:before
										opacity: 1

								p
									display: inline-block
									margin: 0
									text-decoration: underline
									vertical-align: middle
									max-width: 180px
									line-height: 1.2

								span
									display: inline-block
									margin-right: 10px
									width: 43px
									height: 59px
									vertical-align: middle
									background-position: -66px 0 !important

									&:before
										position: absolute
										opacity: 0
										width: inherit
										height: inherit
										background: inherit
										background-position: 0 0
										content: ""
										@include transition(opacity)

		.detail-form
			h3
				margin: 0
				padding: 33px 0 36px

			.files
				margin: 25px auto 21px
				width: 563px

				.file-group
					display: none
					margin-right: 16px
					vertical-align: top

					.delete
						display: none
						text-align: center
						color: red

						&:hover
							color: #000

					&:first-child
						display: inline-block

					input[type="file"]
						display: none

				.btn
					width: 164px
					height: 34px
					font-size: 18px
					line-height: 34px
					text-transform: none

					&:last-child
						width: 36px
						font-size: 36px
						line-height: 0

				.error
					background: #fa9393

		.subitem
			margin: 39px 0 0
