/*
 * Styles from catalog items
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.list-items
	.title-img
		position: relative
		overflow: hidden
		height: 513px
		@include linearGradient(#0291d7, #1d56ad)

		.title
			position: absolute
			z-index: 1
			top: 0
			left: 0
			width: 100%

		img
			display: block
			margin: 60px auto 0

	.filter-none
		background: #f4f6f7 !important

		.toggle-filter::after
			content: "\f063" !important

	.filter
		max-width: 1495px
		margin: 0 auto
		@include linearGradient(#f4f6f7, #d3d3d3)

		h3
			display: inline-block
			text-transform: none
			margin: 56px 14px 20px 0

		.toggle-filter
			@extend h3
			font-size: 21px
			margin-right: 0

			&::after
				content: "\f062"
				font-family: FontAwesome
				font-size: 20px
				padding-left: 8px

		.bx_filter_section
			display: none
			padding: 30px 0 0
			border-top: 3px solid #fff

			.bubl
				display: none
				position: absolute
				top: 0
				left: 0
				width: auto
				height: auto
				font-size: 16px
				padding: 1px 7px

			.bx_filter_items
				.bx_filter_item
					line-height: 1
					display: inline-block
					vertical-align: top
					width: 24.7%

					.bx_filter_parameters_box_title
						margin: 0 0 24px

					.bx_filter_param_label
						margin: 0 0 15px
						position: relative
						cursor: pointer

						input[type="checkbox"]
							opacity: 0

							& + span::after
								content: ""
								display: block
								background: #fff
								border: 2px solid #cdcdcd
								border-radius: 3px
								position: absolute
								top: 50%
								transform: translate(0, -50%)
								box-shadow: inset 0px 2px 3px 1px rgba(204, 204, 204, 0.9)
								@include size(23px)

							&:checked + span::before
								content: ""
								position: absolute
								width: 23px
								height: 16px
								left: 4px
								z-index: 1
								top: 50%
								transform: translate(0, -50%) !important
								@include bg('checked.png', no-repeat 0 0)


						.bx_filter_param_text
							font-size: 21px
							font-weight: normal
							margin-left: 17px

					.disabled
						color: #9E9E9E
						text-decoration: line-through

					> label
						display: block

			#modef
				background: #e6e6e6
				display: flex
				justify-content: center
				align-items: center
				height: 110px

				a
					width: 188px
					line-height: 43px

					&:first-of-type
						margin-right: 20px
	.items
		margin: 32px 0 0

		.container
			max-width: 1540px

			table
				tr
					border-bottom: 1px solid #8d8d8d

					td, th
						width: 12.3%
						padding: 14px 20px 11px
						font-size: 18px
						vertical-align: middle
						border: none
						line-height: 1.2

						@media(max-width: $small)
							padding: 14px 10px 12px

						&:first-child
							font-family: pt_sans_narrow_b

							a
								color: #414141


						input[type="text"]
							width: 55px
							padding: 3px 6px

						.btn
							width: 163px
							height: 34px
							font-size: 18px
							text-transform: none

						p
							margin: 0
							text-align: center

				thead
					tr
						border-bottom: 2px solid #414141

						.price
							min-width: 150px

							span
								display: inline-block
								vertical-align: middle

						th
							padding-bottom: 14px
							font-weight: normal

							.tooltip-custom
								display: inline-block

								@media(max-width: $medium)
									margin-left: 20px

				tbody
					tr:hover
						background: #b2dff4
						@include transition(background)
