/*
 * Styles from catalog schems
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.schems
	margin: 75px 0 61px

	.container
		max-width: 1413px

		.col-md-6
			h3
				margin-bottom: 28px
				margin-left: 21px
				max-width: 300px

			&:last-child
				h3
					margin-bottom: 9px
					margin-left: 70px

				.img
					margin: 0 0 56px
					width: 465px

				.links
					margin-left: 42px

			.img
				position: relative
				margin: 0 0 45px
				width: 484px

				@media(max-width: $small)
					width: 90% !important

				> img
					width: 100%

				.elements
					a
						img
							position: absolute
							opacity: 0
							transform: translate(-50%, -50%)
							@include transition(opacity)

						// &:hover
						// 	img
						// 		opacity: 1

					.hover
						@extend a:hover

			.links
				ul
					list-style: none
					margin-bottom: 45px
					padding: 0

					li
						position: relative
						margin: 0 0 17px
						max-width: 375px
						padding-left: 24px
						line-height: 1.3

						&::before
							position: absolute
							top: 50%
							left: -20px
							display: block
							opacity: 0
							transform: translateY(-50%)
							width: 23px
							height: 41px
							content: ''
							@include bg('arrow-right.png', no-repeat 0 center)
							@include transition(opacity)

							@media(max-width: $small)
								left: -10px

						&:hover
							&::before
								opacity: 1

							a
								color: #414141

						a
							font-size: 24px
							text-decoration: underline
							@include transition(color)

					.hover
						@extend li:hover

				.price
					margin-left: 26px
					font-family: pt_sans_narrow_b
					font-size: 21px
					color: #0095da

					&:hover
						span::before
							opacity: 1

						color: #414141

					span
						display: inline-block
						width: 43px
						height: 59px
						@include bg('price.png', no-repeat -66px 0)

						&::before
							position: absolute
							display: block
							opacity: 0
							width: 43px
							height: 59px
							content: ''
							@include bg('price.png', no-repeat 0 0)
							@include transition(opacity)

					p
						display: inline-block
						margin-top: 4px
						margin-left: 11px
						max-width: 215px
						vertical-align: top
						line-height: 1.3
						text-decoration: underline
