/*
 * Styles from catalog subitems
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.subitem
	h3
		margin: 0 0 45px
		text-transform: none

	ul
		flex-wrap: wrap
		display: flex
		margin: 0
		width: 100%
		padding: 0
		list-style: none

		li
			margin: 0 0 68px
			width: 20%

			@media(max-width: $small)
				width: auto

			a
				display: block
				max-width: 230px
				font-size: 21px

				.img
					@include size(212px)

					span
						display: block
						border: 2px solid #ececec
						font-size: 25px
						line-height: 212px
						text-align: center
						text-decoration: none
						color: #ececec
						@include size(212px)

				.name
					margin: 5px 0
					line-height: 1.2
					text-decoration: underline

			.price
				margin: 0 0 11px
				font-size: 30px

			.btn
				width: 160px
				height: 32px
				font-size: 18px
				text-transform: none
