/*
 * Styles main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.developments
	box-sizing: border-box
	height: 590px

	@media(max-width: $medium)
		height: 535px

	.title
		margin: 0 0 83px
		background: #feee94

		&::after
			border-top: 25px solid #feee94

		h1
			color: #414141

	.container #developments-carousel
		position: relative

		.carousel-inner
			margin: 0 auto
			width: 100%
			max-width: 1098px

			@media(max-width: $min-container)
				width: 80%

			@media(max-width: $small)
				height: 200px

			.item
				.img
					display: inline-block
					vertical-align: middle
					width: 27.3%

					@media(max-width: $small)
						width: 35%

					img
						border: 3px solid #414141
						width: 88.4%

						@media(max-width: $small)
							width: 75%

				.text
					@extend .img
					width: 66%
					font-family: pt_sans_r
					font-size: 26px
					line-height: 1.2

					@media(max-width: $small)
						width: 60%
						font-size: 20px

		.control
			position: absolute
			top: 50%
			left: 2%
			display: block
			transform: translateY(-50%)
			@include bg('main-carosel-arrow.png', no-repeat 0 0)
			width: 49px
			height: 92px

			@media(max-width: $min-container)
				left: 0

		.right-arrow
			left: auto
			right: 2%
			background-position: -90px 0

			@media(max-width: $min-container)
				right: 0

			&:hover
				background-position: -267px 0

		.left-arrow:hover
			background-position: -177px 0
