/*
 * Styles main page modal window
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.modal
	position: fixed
	opacity: 0
	overflow: visible
	height: 100%
	@include transition(opacity)

	.container
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		max-width: 1580px

		h2
			margin: 49px 0
			font-size: 50px
			text-align: center
			color: #fff

		.close
			top: 3.2%
			right: 1.6%
			width: 7.1%
			height: 12.3%
			@include closeBtn

		.module-body
			margin: 0 auto
			width: 100%
			max-width: 1200px

			.img
				display: inline-block
				vertical-align: top
				position: relative
				width: 60%

				> img
					width: 100%

					@media(max-width: $min-container)
						width: 100%

					@media(max-width: $medium)
						width: 90%

				.elements
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%

					@media(max-width: $medium)
						width: 90%

					a
						&:hover
							img
								opacity: 1
						img
							position: absolute
							opacity: 0
							transform: translate(-50%, -50%)
							@include transition(opacity)

					.hover img
						opacity: 1

			.links
				@extend .img
				margin-left: 7%
				width: 30%

				@media(max-width: $medium)
					width: 29%

				ul
					padding: 0

					li
						position: relative
						padding-left: 8%
						list-style: none
						margin-bottom: 3%
						line-height: 1.2

						@media(max-width: $small)
							padding-left: 10%

						&::before
							position: absolute
							top: 50%
							left: 0
							display: block
							opacity: 0
							transform: translateY(-50%)
							content: ""
							@include bg('modal-schema-link.png', no-repeat 0 center)
							@include transition(opacity)
							width: 23px
							height: 41px

							@media(max-width: $small)
								height: 25px

						&:hover::before
							opacity: 1

						a
							font-size: 22px
							text-decoration: underline
							color: #aad0f5
							@include transition(color)

							&:hover
								color: #fff

							@media(max-width: $medium)
								font-size: 20px

					.hover
						&::before
							opacity: 1
						a
							color: #fff

				.price
					display: block
					padding-left: 8%
					font-size: 24px
					line-height: 1.2
					color: #fff

					@media(max-width: $medium)
						font-size: 20px

					&:hover
						text-decoration: none

					span
						@include bg('page.png', no-repeat)
						display: inline-block
						width: 43px
						height: 59px
						vertical-align: top

					p
						display: inline-block
						vertical-align: top
						margin-left: 11px
						width: 65%
.in
	opacity: 1

.absolute
	position: absolute

	.container
		top: 20px
		left: auto
		transform: none
