extends ./layot

block config
	- var mainClass = 'about'

block content
	section.title
		h1 О компании
		
	.container
		article
			h3 ООО «Гидропрофиль»
			
			p
				b.
					ООО «Гидропрофиль» является поставщиком комплектующих к системам 
					водоподготовки. Компания получила статус официального дилера от
					 мирового лидера в производстве высоконапорных корпусов для мембранных 
					 элементов ROPV. Налажено партнерство с производителями комплектующих 
					 из США, Японии, Италии, Китая. Основные направления: 
					 обратноосмотические и нанофильтрационные мембранные элементы, 
					 напорные корпуса для мембранных элементов, зажимы к напорным 
					 корпусам, фитинги и запорная арматура из ПВХ.
			p.
				«Специалисты компании всегда готовы ответить на любые вопросы, 
				связанные с подбором необходимых комплектующих. 
				Проконсультируем Вас и предоставим технические характеристики, 
				чтобы Вы могли убедиться в высоком качестве нашей работы и 
				поставляемых нами комплектующих по телефону (863) 2318409 или 
				icq 563362000. Так же, можете присылать свои запросы на e-mail: 
				gidroprofil@aaanet.ru
			
			img(src="#{imgPath}/about.jpg")
			hr
			h3 Сотрудничество
			p
				b.
					Сотрудничество с дилерами, партнерами, ...  ООО «Гидропрофиль» 
					является поставщиком комплектующих к системам водоподготовки. 
					Компания получила статус официального дилера от мирового лидера в 
					производстве высоконапорных корпусов для мембранных элементов ROPV. 
					Налажено партнерство с производителями комплектующих из США, Японии, 
					Италии, Китая. Основные направления: обратноосмотические и 
					нанофильтрационные мембранные элементы, напорные корпуса для 
					мембранных элементов, зажимы к напорным корпусам, фитинги и запорная 
					арматура из ПВХ.
			p.
				Подробный текст о сотрудничестве и преимуществах... 
				Обратноосмотические мембраны предназначены для систем обратного осмоса, 
				благодаря которым отделяются молекулы воды от растворенных в ней 
				примесей. Компания "Гидропрофиль" является представителем следующих 
				производителей: Desal (General Electric,США), Toray (Япония), Vontron 
				(Китай). Подробный текст о сотрудничестве и преимуществах... 
				Обратноосмотические мембраны предназначены для систем обратного осмоса, 
				благодаря которым отделяются молекулы воды от растворенных в ней 
				примесей. Компания "Гидропрофиль" является представителем следующих 
				производителей: Desal (General Electric,США), Toray (Япония), 
				Vontron (Китай).
			p.
				Обратноосмотические мембраны предназначены для систем обратного осмоса,
				благодаря которым отделяются молекулы воды от растворенных в ней
				примесей. Компания "Гидропрофиль" является представителем следующих
				производителей: Desal (General Electric,США), Toray (Япония),
				Vontron (Китай). Подробный текст о сотрудничестве и преимуществах...
				Обратноосмотические мембраны предназначены для систем обратного осмоса,
				благодаря которым отделяются молекулы воды от растворенных в ней
				примесей. Компания "Гидропрофиль". Vontron (Китай). Подробный текст о
				сотрудничестве и преимуществах... Обратноосмотические мембраны
				предназначены для систем обратного осмоса, благодаря которым отделяются
				молекулы воды от растворенных в ней примесей. Компания "Гидропрофиль" .
