extends ./layot

block config
	- var mainClass = 'application'

block content
	section.title
		.container
			ul.breadcrumb
				li: a(href="#") Главная
				li.active Моя заявка
			
	section.application-table
		.container
			table.table.table-hover
				thead
					tr
						td
						td Фотография товара
						td Наименование товара
						td Количество
						td Стоимость
				tbody
					tr
						td
							a.delete(href="#delete", title="удалить")
						td
							.img
								img(src="#{imgPath}/application1.jpg")
						td
							.name Группа подключения мембранного бака
						td
							input.count(type="text", name="count", maxlength="3", value="1")
							a.add(href="#add") +
						td 3 058 руб.
					tr
						td
							a.delete(href="#delete", title="удалить")
						td
							.img
								span фото
						td
							.name Мембранный элемент Toray 4" TMH 10 A Toray (TMH10 A)
						td
							input.count(type="text", name="count", maxlength="3", value="1")
							a.add(href="#add") +
						td 19 212 руб.
					tr
						td
							a.delete(href="#delete", title="удалить")
						td
							.img
								span фото
						td
							.name Мембранный переключатель Bosch (87085040490)
						td
							input.count(type="text", name="count", maxlength="3", value="1")
							a.add(href="#add") +
						td 5 630 руб.
					tr.total
						td(colspan="3") Общая сумма:
						td 3 шт.
						td 27 900 руб.
							.tooltip-custom
								button.icon-tooltip
								.toolpti-text.sm-left Пояснение в модальном окне: Ваш товар добавлен в «моя заявка»
							
	section.applicataion-form.form
		h3 Дополнительная информация
		form
			.input-group
				.input-group-addon
					label(for="name") Ваше имя:
				input.require(type="text" name="name" id="name")
			.input-group
				.input-group-addon
					label(for="tel") Телефон или e-mail:
				input.require(type="text" name="tel" id="tel")
			.input-group
				select.require(name="region")
					option(selected hidden) Ваш регион
					option 2
					option 3
			.input-group
				textarea.require(name="msg", placeholder="Ваше сообщение")
			.error-msg Необходимо запонить все поля
			.input-submit
				input.btn(type="submit" value="Отправить")
		.sucsess-msg
			.container
				h3 Ваш запрос отправлен
				p.
					Спасибо за ваш вопрос. #[br]
					Мы свяжемся с вами в течение 
					2 часов.
