extends ./layot

block config
	- var mainClass = 'catalog'

block content
	section.title
		h1 Каталог КОМПЛЕКТУЮЩИХ
		
	section.schems
		.container
			.row
				.col-md-6.col-sm-6.col-xs-6
					h3 Для промышленной водоподготовки
					.img
						img(src="#{imgPath}/small-schem1.png")
						.elements
							a(href="#membranes")
								img(src="#{imgPath}/membrans-small.png", data-name="membranes",
								style="left: 29%; top: 48.5%; width: 55%;")
							a(href="#fiting")
								img(src="#{imgPath}/fiting1-small.png", data-name="fiting",
								style="left: 33.3%; top: 26%; width: 4%;")
								img(src="#{imgPath}/fiting1-small.png", data-name="fiting",
								style="left: 40.5%; top: 53.5%; width: 4%;")
								img(src="#{imgPath}/fiting1-small.png", data-name="fiting",
								style="left: 33.5%; top: 63%; width: 4%;")
								img(src="#{imgPath}/fiting1-small.png", data-name="fiting",
								style="left: 57%; top: 63%; width: 4%;")
							a(href="#dozator")
								img(src="#{imgPath}/dozator-small.png", data-name="dozator",
								style="left: 95.2%; top: 33.2%; width: 5.5%;")
							a(href="#reagent")
								img(src="#{imgPath}/reagent1-small.png", data-name="reagent",
								style="left: 20%; top: 74%; width: 7%;")
								img(src="#{imgPath}/reagent2-small.png", data-name="reagent",
								style="left:91.8%; top:71.5%; width: 15.5%;")
							a(href="#soedinenie")
								img(src="#{imgPath}/soedinenie-small.png", data-name="soedinenie",
								style="left: 5%; top: 74%; width: 7.8%;")
							a(href="#steklo")
								img(src="#{imgPath}/steklo-small.png", data-name="steklo",
								style="left: 73.5%; top: 46.3%; width: 16.1%;")
					.links
						ul
							li: a(href="#membranes", data-name="membranes") Мембранные элементы
							li: a(href="#", data-name="membrane-corpuses") Мембранные корпуса
							li: a(href="#") Фильтроэлементы (полипропилен, уголь)
							li: a(href="#") Мультипатронные фильтры
							li: a(href="#") Мешочные фильтры
							li: a(href="#steklo", data-name="steklo") Стекловолоконные корпуса для запасных фильтров
							li: a(href="#") Ультрафильтрационные модули
							li: a(href="#", data-name="soedinenie") Гибкие соединения для труб
							li: a(href="#reagent", data-name="reagent") Реагенты
							li: a(href="#fiting", data-name="fiting") Фитинги и запорная арматура
							li: a(href="#") Мешочные фильтроэлементы
							li: a(href="#dozator", data-name="dozator") Дозирующие насосы
							
						a.price(href="#")
							span
							p Прайс. Промышленная водоподготовка
							
				.col-md-6.col-sm-6.col-xs-6
					h3 Для бытовых фильтров
					.module-body
						.img
							img(src="#{imgPath}/small-schem2.png")
							.elements(style="max-width: 931px")
								a(href="#")
									img(src="#{imgPath}/membrans-small2.png", data-name="membranes2",
									style="left: 73%; top: 20%; width: 44%;")
								a(href="#")
									img(src="#{imgPath}/pompa-small.png", data-name="pompa",
									style="left: 67.5%; top: 35%; width: 46%;")
								a(href="#")
									img(src="#{imgPath}/fiting-right-small1.png", data-name="fitings",
									style="left: 52.5%; top: 16.5%; width: 4%;")
									img(src="#{imgPath}/fiting-right-small2.png", data-name="fitings",
									style="left: 96.8%; top: 19%; width: 2.5%;")
									img(src="#{imgPath}/fiting-right-small3.png", data-name="fitings",
									style="left: 49.1%; top: 41%; width: 4.2%;")
									img(src="#{imgPath}/fiting-right-small4.png", data-name="fitings",
									style="left: 75.5%; top: 50.7%; width: 41.5%;")
								a(href="#")
									img(src="#{imgPath}/baki-small.png", data-name="baki",
									style="left: 19.2%; top: 65.3%; width: 41%;")
						.links
							ul
								li: a(href="#", data-name="membranes2") Катриджи для бытовых фильтров и систем
								li: a(href="#", data-name="") Мембраны для бытовых фильтров
								li: a(href="#", data-name="pompa") Помпы и блоки питания
								li: a(href="#", data-name="baki") Гидроаккумуляторы (баки)
								li: a(href="#", data-name="fitings") Фитинги
								li: a(href="#", data-name="") Корпуса фильтров
							a.price(href="#")
								span
								p Прайс. Бытовая водоподготовка
