extends ./layot

block config
	- var mainClass = 'catalog'

block content
	section.list-items
		section.title-img
			section.title
				.container
					ul.breadcrumb
						li: a(href="#") Главная
						li: a(href="#") Каталог
						li.active Мембранные элементы
			img(src="#{imgPath}/membrans-list.png")
	
		section.filter
		section.items
			.container
				table.table
					thead
						tr
							th
								span Мембранный элемент
							th
								span Рабочее давление PSI (KPA)
							th
								span.
									Средняя производительность,
									ГАЛЛ/сутки (М3/сутки)
							th
								span Средняя селективность, ПО NACL
							th
								span Площадь элемента, FT2 (M2)
							th
								span Цена, USD
								.tooltip-custom
									button.icon-tooltip
									.toolpti-text Пояснение в модальном окне: Ваш товар добавлен в «моя заявка»
							th
								span Укажите количество
							th
					tbody
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								p Добавлено к заявке
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
						tr
							td DESAL AK90
							td 115 psi (793 kPa)
							td 2 200 (8.3)
							td 99.5% 
							td 90 (8.4)
							td 270.00
							td
								input(type="text" value="1" maxlength="4")
							td
								input(type="button" class="btn" name="add" value="Добавить к заявке")
				nav.pagination-site
					ul
						li
							a.prev(href="#prev")
						li: a(href="#") 1
						li: a(href="#") 2
						li: span.active 3
						li: a(href="#") 4
						li: a(href="#") 5
						li
							a.next(href="#next")
				
				section.subitem
					h3 Сопутствующие группы товаров
					ul
						li
							a(href="#")
								.img
									img(src="#{imgPath}/application1.jpg")
								p.name Группа подключения мембранного бака
							p.price 3058 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name Мембранный элемент Toray 4" TMH 10 A Toray (TMH10 A)
							p.price 192012 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.nameb Мембранный переключатель Bosch (87085040490)
							p.price 5630 руб.
							span Добавлено к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name Группа безопасности RBM с подключением для мембранного бака 3/4"
							p.price 3051 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name WATTS Группа подключения мембранного бака GAG/KAV
							p.price 4169 руб.
							button.btn Добавить к заявке
				section.seo-text
							h1 Дополнительная информация
							p.
								Гарантия на холодильные установки TerraFrigo составляет 2 года 
								с момента монтажа, произведенного организацией, уполномоченной на 
								это заводом-изготовителем.  Цена на рефрижератор уточняется отдельно, 
								на сайте приведена лишь ориентировочная стоимость.
							p Производитель оставляет за собой право менять технические характеристики без уведомления.
