extends ./layot

block config
	- var mainClass = 'catalog'

block content
	section.title
		.container
			ul.breadcrumb
				li: a(href="#") Главная
				li: a(href="#") Каталог
				li: a(href="#") Мембранные элементы
				li.active DESAL AK90
				
	section.detail
		article
			.container
				h1 Мембранные элементы / DESAL AK90
				.detail-table
					.col
						.img
							img(src="#{imgPath}/detail.jpg")
						.price 19 212 руб.
						button.btn-inverse Добавить к заявке
					.col
						.charset
							h4 ОСНОВНЫЕ ХАРАКТЕРИСТИКИ
							ul
								li
									p Средняя производительность Галлон/сутки (м3/сутки)
									span 2200(8.3)	
								li
									p Средняя селективность по NaCl
									span 99,5%
								li
									p Минимальная селективность по NaCl
									span 99,0%
								li
									p Площадь поверхности ft2 (m2)
									span 90(8.4)
						.desc
							h4 Описание товара
							p.
								Серия А из семейства тонкопленочных обратноосмотических 
								мембранных элементов характеризуется высокой удельной 
								производительностью (flux) и хорошей селективностью по NaCl. 
								Низконапорные элементы для солоноватых вод серии AK HR 
								используются в тех случаях, когда требуется высокая 
								селективность и одновременно низкое рабочее давление. 
								Эти элементы позволяют значительно экономить энергию, т.к. 
								хорошая селективность достигается при таком низком давлении 
								как 100 psig (689 kPa). Эти мембраны рекомендуется использовать 
								для слабо солоноватых вод с концентрацией солей (TDS) 
								до 1000 мг/л. Элементы серии AK HR обеспечивают качество 
								фильтрации соизмеримое с обычными элементами для солоноватых 
								вод, но при гораздо более низком давлении. Особенностью мембран 
								для солоноватых вод серии AK HR является конструкция с внешней 
								оболочкой из стекловолокна (FRP) и соединители типа 
								розетка (female)
					.col
						.contacts-block
							h4 Контактная информация
							ul
								li
									p: b Москва
									p Тел.: +7 (495) 710-05-19
									p E-mail: vit@gidroprofil.ru
									
								li
									p: b Ростов-на-Дону
									p Тел.: +7 (863) 231-84-09
									p E-mail: sales@gidroprofil.ru
						.links-block
							ul
								li
									a(href="#")
										span
										p Прайс. Промышленная водоподготовка
								li
									a(href="#")
										span
										p Подробное #[br] описание
								li
									a(href="#")
										span
										p Сертификат
										
			section.detail-form.form
				h3 Ваш вопрос
				form
					.input-group
						.input-group-addon
							label(for="name") Ваше имя:
						input.require(type="text" name="name" id="name")
					.input-group
						.input-group-addon
							label(for="tel") Телефон или e-mail:
						input.require(type="text" name="tel" id="tel")
					.input-group
						select.require(name="region")
							option(selected hidden) Ваш регион
							option 2
							option 3
					.input-group
						textarea.require(name="msg", placeholder="Ваше сообщение")
					.files
						.file-group
							label.btn(for="file0") Прикрепить файл
							input(type="file" id="file0" name="file0")
							a(href="#file0" title="Удалить файл" class="delete") удалить файл 
						.file-group
							label.btn(for="file1") Прикрепить файл
							input(type="file" id="file1" name="file1")
							a(href="#file1" title="Удалить файл" class="delete") удалить файл
						.file-group
							label.btn(for="file2") Прикрепить файл
							input(type="file" id="file2" name="file2")
							a(href="#file2" title="Удалить файл" class="delete") удалить файл
						button.btn.add +
					.error-msg Необходимо запонить все поля
					.input-submit
						input.btn(type="submit" value="Отправить")
				.sucsess-msg
					.container
						h3 Ваш запрос отправлен
						p.
							Спасибо за ваш вопрос. #[br]
							Мы свяжемся с вами в течение 
							2 часов.
			section.subitem
				.container
					h3 Сопутствующие группы товаров
					ul
						li
							a(href="#")
								.img
									img(src="#{imgPath}/application1.jpg")
								p.name Группа подключения мембранного бака
							p.price 3058 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name Мембранный элемент Toray 4" TMH 10 A Toray (TMH10 A)
							p.price 192012 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.nameb Мембранный переключатель Bosch (87085040490)
							p.price 5630 руб.
							span Добавлено к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name Группа безопасности RBM с подключением для мембранного бака 3/4"
							p.price 3051 руб.
							button.btn Добавить к заявке
						li
							a(href="#")
								.img
									span ФОТО
								p.name WATTS Группа подключения мембранного бака GAG/KAV
							p.price 4169 руб.
							button.btn Добавить к заявке
			section.seo-text.container
				h1 Дополнительная информация
				p.
					Гарантия на холодильные установки TerraFrigo составляет 2 года 
					с момента монтажа, произведенного организацией, уполномоченной на 
					это заводом-изготовителем.  Цена на рефрижератор уточняется отдельно, 
					на сайте приведена лишь ориентировочная стоимость.
				p Производитель оставляет за собой право менять технические характеристики без уведомления.
