extends ./layot

block config
	- var mainClass = 'contacts'

block content
	section.title
		h1 Контакты
	
	.container
		h2 Гидропрофиль
		ul
			li Москва
				p Тел.: +7 (495) 710-05-19
				p E-mail: vit@gidroprofil.ru
			li
				a(href="#") Ростов-на-Дону
				p Тел.: +7 (863) 231-84-09
				p E-mail: sales@gidroprofil.ru
			li 
				a(href="#") Еще одно представительство
				p Тел.: +7 (863) 231-84-09
				p E-mail: sales@gidroprofil.ru
	.map
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=u-Kmm8MmjffX-k-4g2I_lg9WkNisCOBP&width=100%&height=605&lang=ru_RU&sourceType=constructor"></script>
