extends ./layot

block config
	- var mainClass = 'main'

block content
	.title
		h1 Ссылки
	
	.container
		ul
			li: a(href="./main.html") Главная
			li: a(href="./about.html") О компании
			li: a(href="./application.html") Моя заявка
			li: a(href="./contacts.html") Контакты
			li: a(href="./not-found.html") 404
			li: a(href="./catalog.html") Каталог
			li: a(href="./catalog-items.html") Каталог список
			li: a(href="./catalog-detail.html") Каталог детально
