- var tplPath = './'
- var imgPath = tplPath + 'img'
- var mainClass = ''	

block config

doctype
html(lang="ru")
	head
		title Gidroprofil
		meta(charset="utf-8")
		meta(name="viewport",content-width="width=device-width")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='#{tplPath}build.css')
		script(src='#{tplPath}/build.js')
	body
		.wrapper
			header
				.container
					.column
						a(href="/").logo
					.column
						nav.navbar.navbar-default
							ul.nav.navbar-nav
								li: a(href="#") О компании
								li: a(href="#") Каталог
								li: a(href="#") Контакты
								li
									a(href="#") Моя заявка
									.counts 3
					.column
						.input-group.stylish-input-group
							input(type="text" class="form-control"  placeholder="Поиск")
							.input-group-addon
								button(type="submit")
					.column
						button#ask-question.btn.btn-default Задать вопрос
			main(class="content #{mainClass}")
				block content
		footer
			.container
				.row
					.col-md-2.col-sm-2.col-xs-2.copy
						p © Гидропрофиль
					.col-md-2.col-sm-3.col-xs-3
						nav
							ul
								li: a(href="#") О компании
								li: a(href="#") Каталог
								li: a(href="#") Контакты
								li: a(href="#") Моя заявка
					.col-md-6.col-sm-5.col-xs-5.contacts
						span Москва:
						p +7 (495) 710-05-19
						span Ростов-на-Дону:
						p +7 (863) 231-84-09
					.col-md-2.col-sm-2.col-xs-2.dev
						a(href="http://web-izmerenie.ru") СДЕЛАНО В
		
