extends ./layot

block config
	- var mainClass = 'main'

block content
	.title
		h1 Комплектующие для водоочистных систем
	section.schema
		.container
			.row
				.col-md-6.col-sm-6.col-xs-6
					a(href="#popap1", data-toggle="modal", data-target="#popap1")
						p Промышленная водоподготовка
						.img
							img(src="#{imgPath}/schema1.png")
							img.hover(src="#{imgPath}/schema1-hover.png")
				.col-md-6.col-sm-6.col-xs-6
					a(href="#popap2", data-toggle="modal", data-target="#popap2")
						p Бытовая водоподготовка
						.img
							img(src="#{imgPath}/schema2.png")
							img.hover(src="#{imgPath}/schema2-hover.png")
		.modal#popap1(role="dialog")
			.container
				button.close(data-dismiss="modal")
				h2 Промышленная водоподготовка
				.module-body
					.img
						img(src="#{imgPath}/big-schema1.png", style="max-width: 969px")
						.elements(style="max-width: 969px")
							a(href="#membranes")
								img(src="#{imgPath}/membrans.png", data-name="membranes",
								style="left: 29%; top: 48.5%; width: 55%;")
							a(href="#fiting")
								img(src="#{imgPath}/fiting.png", data-name="fiting",
								style="left: 44.7%; top: 45%; width: 27%;")
							a(href="#dozator")
								img(src="#{imgPath}/dozator.png", data-name="dozator",
								style="left: 95.2%; top: 33.2%; width: 5.5%;")
							a(href="#reagent")
								img(src="#{imgPath}/reagent1.png", data-name="reagent",
								style="left: 20%; top: 74%; width: 7%;")
								img(src="#{imgPath}/reagent2.png", data-name="reagent",
								style="left:92.1%; top:71.5%; width: 15.5%;")
							a(href="#soedinenie")
								img(src="#{imgPath}/soedinenie.png", data-name="soedinenie",
								style="left: 5%; top: 74%; width: 7.8%;")
							a(href="#steklo")
								img(src="#{imgPath}/steklo.png", data-name="steklo",
								style="left: 73.5%; top: 46.3%; width: 16.1%;")
					.links
						ul
							li: a(href="#membranes", data-name="membranes") Мембранные элементы
							li: a(href="#", data-name="membrane-corpuses") Мембранные корпуса
							li: a(href="#") Фильтроэлементы (полипропилен, уголь)
							li: a(href="#") Мультипатронные фильтры
							li: a(href="#") Мешочные фильтры
							li: a(href="#steklo", data-name="steklo") Стекловолоконные корпуса для запасных фильтров
							li: a(href="#") Ультрафильтрационные модули
							li: a(href="#", data-name="soedinenie") Гибкие соединения для труб
							li: a(href="#reagent", data-name="reagent") Реагенты
							li: a(href="#fiting", data-name="fiting") Фитинги и запорная арматура
							li: a(href="#") Мешочные фильтроэлементы
							li: a(href="#dozator", data-name="dozator") Дозирующие насосы
							
						a.price(href="#")
							span
							p Прайс. Промышленная водоподготовка
		.modal#popap2(role="dialog")
			.container
				button.close(data-dismiss="modal")
				h2 Бытовая водоподготовка
				.module-body
					.img
						img(src="#{imgPath}/big-schema2.png", style="max-width: 931px")
						.elements(style="max-width: 931px")
							a(href="#")
								img(src="#{imgPath}/membrans2.png", data-name="membranes",
								style="left: 73%; top: 20%; width: 44%;")
							a(href="#")
								img(src="#{imgPath}/pompa.png", data-name="pompa",
								style="left: 67.5%; top: 35%; width: 46%;")
							a(href="#")
								img(src="#{imgPath}/fiting1.png", data-name="fitings",
								style="left: 52.5%; top: 16.5%; width: 4%;")
								img(src="#{imgPath}/fiting2.png", data-name="fitings",
								style="left: 96.8%; top: 19%; width: 2.5%;")
								img(src="#{imgPath}/fiting3.png", data-name="fitings",
								style="left: 49.1%; top: 41%; width: 4.2%;")
								img(src="#{imgPath}/fiting4.png", data-name="fitings",
								style="left: 76%; top: 51%; width: 41.5%;")
							a(href="#")
								img(src="#{imgPath}/baki.png", data-name="baki",
								style="left: 19.2%; top: 65.3%; width: 41%;")
					.links
						ul
							li: a(href="#", data-name="membranes") Катриджи для бытовых фильтров и систем
							li: a(href="#", data-name="") Мембраны для бытовых фильтров
							li: a(href="#", data-name="pompa") Помпы и блоки питания
							li: a(href="#", data-name="baki") Гидроаккумуляторы (баки)
							li: a(href="#", data-name="fitings") Фитинги
							li: a(href="#", data-name="") Корпуса фильтров
						a.price(href="#")
							span
							p Прайс. Промышленная водоподготовка
								
	section.developments
		.title
			h1 События
		.container
			#developments-carousel.carousel.slide(data-ride="carousel", data-interval="false")
				.carousel-inner
					.item.active
						.img
							img(src="#{imgPath}/development1.jpg")
						.text
							p.
								Блок, представляющий собой слайдер, каждый слайд которого — это 
								баннер с графическим элементом (фото от Заказчика) и 
								текстовым описанием сути акции.
					.item
						.img
							img(src="#{imgPath}/development2.jpg")
						.text
							p.
								Блок, представляющий собой слайдер, каждый слайд которого — это 
								баннер с графическим элементом (фото от Заказчика) и 
								текстовым описанием сути акции.
				a.control.left-arrow(href="#developments-carousel", data-slide="prev")
				a.control.right-arrow(href="#developments-carousel", data-slide="next")
