extends ./layot

block content
	section.title
		h1 ошибка 404
		
	section.not-found
		.container
			h1 Такой страницы больше нет.
			p Перейдите, пожалуйста, в один из разделов: 
			ul
				li: a(href="#") О компании
				li: a(href="#") Каталог
				li: a(href="#") Контакты
				li: a(href="#") Моя заявка
